@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

section {
    height: 100vh;
}

/*Entry Section*/

#entry_sec {
    background-image: url(images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.entry_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.entry_head img {
    width: 150px;
}

.entry_head nav {
    display: flex;
    gap: 30px;
}

.entry_head nav a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 800;
    transition: color 0.5s, text-shadow 0.5s;
}

.entry_head nav a:hover {
    color: rgb(20, 20, 20);
    text-shadow:2px 3px 5px #ff0, 0px 0px 10px #f00;
    transition: 0.5s;
}

.entry_text {
    width: 78%;
    margin: 100px auto;
}

.entry_text h1 {
    font-family: 'Open Sans', sans-serif;    
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}

.entry_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

/*About Section*/

#about_sec {
    background-color: black;
    display: flex;
    gap: 30px; 
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    position: relative;
}

.about_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.about_head nav {
    display: flex;
    gap: 30px;
}

.about_head nav a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 800;
    transition: color 0.5s, text-shadow 0.5s;
    position: absolute;
    right: 30px;  
    top: 20px;  
}

.about_head nav a:first-child {
    right: 100px;
    top: 20px;
}

.about_head nav a:hover {
    color: rgb(20, 20, 20);
    text-shadow:2px 3px 5px #ff0, 0px 0px 10px #f00;
    transition: 0.5s;
}
.about_text {
    max-width: 600px;
}

.about_text h1{
    font-family: 'Open Sans', sans-serif;    
    font-size: 60px;
    line-height: 80px;
    font-weight: 800;
}

.about_text p {
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}

#about_sec img {
    max-width: 512px;
    max-height: 512px;
    transition: 0.5s;
}

#about_sec img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/*Battle Section*/

#battle_sec {
    background-image: radial-gradient(rgba(30, 30, 30, 0.35) 0%, rgba(0, 0, 0, 0.96) 40%), url(images/savas1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.battle_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.battle_head nav {
    display: flex;
    gap: 30px;
}

.battle_head nav a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 800;
    transition: color 0.5s, text-shadow 0.5s;
    position: absolute;
    right: 30px;  
    top: 20px;  
}

.battle_head nav a:first-child {
    right: 100px;
    top: 20px;
}

.battle_head nav a:hover {
    color: rgb(20, 20, 20);
    text-shadow:2px 3px 5px #ff0, 0px 0px 10px #f00;
    transition: 0.5s;
}

.battle_text h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
}

.battle_text h1 {
    font-family: 'Open Sans', sans-serif;    
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

.boxes {
    width: 650px;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 160px;
    border: 1px solid rgb(55, 55, 55);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box:last-child {
    width: 610px;
}

.box h2 {
    color: #f00;
    font-size: 20px;
}

.box p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    text-align: justify;
}

/*Options Section*/

#opinions_sec {
    background-image: url(images/sec-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;    
}

.opinions_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.opinions_head nav {
    display: flex;
    gap: 30px;
}

.opinions_head nav a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 800;
    transition: color 0.5s, text-shadow 0.5s;
    position: absolute;
    right: 30px;
    top: 20px;
}

.opinions_head nav a:hover {
    color: rgb(20, 20, 20);
    text-shadow:2px 3px 5px #ff0, 0px 0px 10px #f00;
    transition: 0.5s;
}

.opinions_text {
    max-width: 450px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.opinions_text h1 {
    font-size: 60px;
}

.opinions_text p {
    font-size: 18px;
    text-align: justify;
}

.opinions_text button {
    padding: 10px;
    background-color: #f00;
    font-weight: 800;
    border-radius: 10px;
    transition: color 0.5s;
    margin-top: 40px;
    width: 180px;
}

.opinions_text button:hover {
    color: #ff0;
    background-color: rgb(60, 60, 60);
    transition: 0.5s;
}

.cards {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.card {
    width: 450px;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;

}

.card:nth-child(2) {
    align-self: flex-start;
}

.user {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.user_info h1 {
    color: #f00;
}

.grey {
    color: grey;
}

@media (max-width: 1100px) {

    .entry_head {
        padding: 15px;
    }
    
    .entry_head img {
        width: 120px;
    }
    
    .entry_head nav {
        gap: 15px;
    }
    
    .entry_head nav a {
        color: #000;
    }
    
    .entry_head nav a:hover {
        text-shadow:2px 3px 5px rgb(50, 255, 0), 0px 0px 10px #f00;
    }
    
    .entry_text {
        margin: 80px auto;
    }
    
    .entry_text h1 {   
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .entry_text p {
        font-size: 20px;
        font-weight: 400;
    }

    #about_sec {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 15px;
    }
    
    .about_head {
        padding: 15px;
    }
    
    .about_head nav {
        gap: 15px;
    }
    
    .about_head nav a:hover {
        text-shadow:2px 3px 5px rgb(50, 255, 0), 0px 0px 10px #f00;
    }

    .about_text {
        max-width: 100%;
    }
    
    .about_text h1 {
        font-size: 25px;
        line-height: 30px;
        font-weight: 800;
        text-align: center;
    }
    
    .about_text p {
        margin: 10px auto;
        text-align: justify;
    }

    .about_text p>span {
        border-bottom: 1px solid #f00;
    }
    
    #about_sec img {
        max-width: 350px;
        max-height: 350px;
    }

    .battle_text h5 {
        font-size: 16px;
        padding: 30px 20px 20px 20px;
    }
    
    .battle_text h1 {
        font-size: 24px;
        padding: 10px;
    }

    .boxes {
        margin: 30px auto;
    }

    #opinions_sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }
    
    .opinions_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
    }
    
    .opinions_head nav {
        display: flex;
        gap: 30px;
    }    
        
    .opinions_head nav a:hover {
        text-shadow:2px 3px 5px rgb(50, 255, 0), 0px 0px 10px #f00;
    }
    .opinions_text {
        padding: 5px;
    }
    
    .opinions_text h1 {
        font-size: 20px;    
    }
    
    .opinions_text p {
        font-size: 12px;    
    }
    
    .opinions_text button {
        margin: 10px 0;    
    }
    
    .cards {
        gap: 5px;
        align-items: center;
    }    
     
    .card:nth-child(2) {
        align-self: center;
    }
    
    .user {
        gap: 10px;
        margin-bottom: 10px;
    }
}